
@media(max-width: 767px){
    #clock-style{
        position: fixed;
        top:0;
        right:0;
        font-size: 16px;
        font-weight: bolder;
        color: #000000;
    }

}

@media(min-width: 768px){
    #clock-style{
        position: fixed;
        top:0;
        right:0;
        font-size: 20px;
        font-weight: bolder;
        color: #ffffff;
    }

}