
@media(max-width: 767px){
    #clock-style{
        float:right;
        font-size: 14px;
        color: #ffffff;
    }

}

@media(min-width: 768px){
    #clock-style{
        float:right;
        font-size: 20px;
        color: #ffffff;
    }

}