
.experience {
    margin-top: 10px;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.experience-head{

    font-size: 30px;

    font-weight: bold;

    text-align:center;

    margin: 10px 10px 10px 10px;

}


.job{
    color: #ffffff;
    background-color: rgba(197, 147, 39, 0.842);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    padding: 5px;
    border-radius: 5px;
    min-width: 150px;
}
