#email, #linkedin, #github{
    display:inline-block;
    min-width: 182px; /*prevents overlap*/
    font-weight: bold;
    color: #ffffff;

}
#email:hover, #linkedin:hover, #github:hover{
    background: rgba(73, 78, 78, 0.6);
    border-radius: 5px;
    color: #000000;
}